* {
    margin: 0;
    padding: 0;
}

.info_about_students {
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 1px solid grey;
    padding: 5px;
    text-align: center;
}

.news {
    margin: 10px;
    padding: 5px;
    border-collapse: collapse;
}