{% extends "myapp/base.html" %}
{% block title %}Обо мне{% endblock %}

{% block content %}
    <div class="container text-center my-5">
        <h1 style="text-align:center">Обо мне</h1>
    </div>
    <ul style="margin-top: 10px">
        {% for key, item in facts.items %}
            <li style="margin-left: 650px"> {{ item }} </li>
        {% endfor %}
    </ul>
     <button style="text-align:center; margin-left: 710px;">
         <a href="{% url 'index' %}">На главную</a>
     </button>
{% endblock %}