<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <title>
        {% block title%} Домашняя {% endblock %}
    </title>
</head>
<body>
<nav>
    <p> Задание №1. Создать страницу, на которой будет кнопка "Нажми меня", при нажатии на которую будет переход на
        другую страницу с приветствием пользователя по имени.</p>
    <a href="{{ url_for('next_page') }}">Нажми меня</a>
    <br><br>
    <p> Задание №2 Создать страницу, на которой будет изображение и ссылка на другую страницу, на которой будет
        отображаться форма для загрузки изображений.
    </p>
    <a href="{{ url_for('upload') }}">Загрузить изображение на сервер</a>
    <br><br>
    <p> Задание №3.
        Создать страницу, на которой будет форма для ввода логина и пароля
        При нажатии на кнопку "Отправить" будет произведена
        проверка соответствия логина и пароля и переход на
        страницу приветствия пользователя или страницу c ошибкой.
    </p>
    <a href="{{ url_for ('authentication') }}">Аутентификация</a>
    <br><br>
    <p>Задание №4.
        Создать страницу, на которой будет форма для ввода текста и
        кнопка "Отправить"
        При нажатии кнопки будет произведен подсчет количества слов
        в тексте и переход на страницу с результатом.
    </p>
    <a href="{{ url_for ('message') }}">Введите сообщение</a>
    <br><br>
    <p>Задание №5.
        Создать страницу, на которой будет форма для ввода двух
        чисел и выбор операции (сложение, вычитание, умножение
        или деление) и кнопка "Вычислить"
        При нажатии на кнопку будет произведено вычисление
        результата выбранной операции и переход на страницу с
        результатом.
    </p>
    <a href="{{ url_for ('calc') }}">Простой калькулятор</a>
    <br><br>
    <p>Задание №6.
        Создать страницу, на которой будет форма для ввода имени
        и возраста пользователя и кнопка "Отправить"
        При нажатии на кнопку будет произведена проверка
        возраста и переход на страницу с результатом или на
        страницу с ошибкой в случае некорректного возраста.
    </p>
    <a href="{{ url_for ('validate_age') }}">Проверка возраста</a>
    <br><br>
    <p>Задание №7.
        Создать страницу, на которой будет форма для ввода числа
        и кнопка "Отправить"
        При нажатии на кнопку будет произведено
        перенаправление на страницу с результатом, где будет
        выведено введенное число и его квадрат
    </p>
        <a href="{{ url_for ('quadro') }}">Квадрат числа с перенаправлением (redirect)</a>
    <br><br>
    <p>Задание №8.
        Создать страницу, на которой будет форма для ввода имени
        и кнопка "Отправить"
        При нажатии на кнопку будет произведено
        перенаправление на страницу с flash сообщением, где будет
        выведено "Привет, {имя}!".
    </p>
    <a href="{{ url_for ('form') }}">Flash-приветствие пользователя</a>
    <br><br>
</nav>
{% block content%}

{% endblock %}
</body>
</html>