<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <title>Добро пожаловать</title>
</head>
<body>
    <div class="container text-center my-5">
        <div class="row">
            <div class="col-lg-6 mx-auto">
            <h1> Добро пожаловать! </h1>
            <p class="lead text-muted"> Давайте сохраним ваши имя и адрес электронной почты,
                чтобы не вводить их каждый раз.
            </p>
            </div>
        </div>
            <form method="post">
            <input type="text" class="form-control" name="username" placeholder="Введите имя">
            <input type="email" class="form-control" name="email" placeholder="Введите адрес э/почты">
            <input type="submit" class="btn btn-primary" value="Отправить">
                <style>
                    .btn {
                        margin-top: 10px;
                    }
                </style>
            </form>
    </div>
</body>
</html>