{% extends "base_blog_app/base.html" %}
{% block title %} {{ title }} {% endblock %}

{% block content %}
    {% for item in articles %}
        {% if item.is_published %}
            <a href="{% url 'view_article' item.id %}">
        {% endif %}
            <p>Заголовок: {{ item.title }}</p>
        {% if item.is_published %}
            </a>
        {% endif %}
            <p>Количество просмотров: {{ item.show_count }}</p>
            <br>
    {% empty %}
            <p>Статей не найдено.</p>
    {% endfor %}
{% endblock %}
